#	CMakeCache.txt
#	CMakeFiles/
#	CMakeLists.txt.user
#	Makefile
#	Mechforce.cbp
#	bin/System/Mechforce
#	cmake_install.cmake
gitignore

Makefile
Mechforce.cbp
Mechforce.layout
Mechforce.cbp.cbTemp

cmake_install.cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/*

bin/System/Mechforce
bin/System/Mechforce.exe
bin/System/stdout.txt

bin/Data/config.ini
